<form style="display: flex; flex-direction: column; gap: 1rem;" [formGroup]="myForm">
    <div>
        <input formControlName="name" type="text" />
    </div>
    <div>
        <input formControlName="lastName" type="text" />
    </div>
    <div>
        <input formControlName="hasOtherGroup" type="checkbox" />
    </div>
    <div>
        <button 
            (click)="onClick()">
            Submit
        </button>
    </div>
</form>
<ng-container *ngIf="hasOtherGroupValue">
    <div style="color: red;">
        <h2>FUCK OFF MATE!</h2>
    </div>
</ng-container>
